# Django Config
DJANGO_SECRET_KEY = "change me"
JWT_SECRET_KEY = "change me"
# 0 -> False | 1 -> True
DEBUG = "change me"

# Database
DATABASE_NAME = "change me"
DATABASE_ENGINE = "change me"
DATABASE_PORT = "change me"
DABATASE_HOST = "change me"
DATABASE_USER = "change me"
DATABASE_PASSWORD = "change me"

# E-mail
EMAIL_BACKEND = "change me"
EMAIL_HOST = "change me"
EMAIL_PORT = "change me"
EMAIL_USE_TLS = 1 # 0 -> False | 1 -> True
EMAIL_HOST_USER = "change me"
EMAIL_HOST_PASSWORD = "change me"