@font-face {
    font-family: "Billabong W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot");
    src: url("https://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.svg#Billabong W00 Regular")format("svg");
}